# GLOBAL CONFIGURATION
COMPOSE_PROJECT_NAME=dev-svc
COMPOSE_FILE=dc-networks.yml:dc-kafka-tools.yml

# Postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=secret
POSTGRES_VERSION=15-alpine

# Kafka & Zookeeper
KAFKA_VERSION=7.4.1

# MinIO
MINIO_VERSION=RELEASE.2025-01-20T14-49-07Z
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=